@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Cutive+Mono&display=swap');
:root {

    /* El fondo de la página */
    --imgbg: url(https://marmotamaps.com/de/fx/wallpaper/download/faszinationen/Marmotamaps_Wallpaper_Berchtesgaden_Desktop_1920x1080.jpg);
    
    /*  Colores:    */
    --ctituloBusqueda:rgb(0, 0, 0);             /*      Color del titulo                 */
    --cbarraBusqueda:#d8dee9;                   /*      Color de la barra de busqueda    */
    --cfondoCubo:rgba(0, 0, 0, 0.705);          /*      Color del fondo del cubo         */
    --cletraCubo:white;                         /*      Color de la letra del cubo       */
    --ciconoCubo: white;                        /*      Color del icono del cubo         */
}


body
{
    background-image: var(--imgbg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cutive Mono', monospace;
    font-weight: 100;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100vh;
}

/* ----------------- Barra de busqueda ----------------- */
.divBuscar
{
    padding-top: 4em;
}

.tituloBuscar
{
    text-align: center;
    letter-spacing: 0.07em;
    /* color: rgb(0, 0, 0); */
    color: var(--ctituloBusqueda);
}
.search 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
.searchbar
{
    text-align: center;
	border:none;
	border-bottom: 2px solid rgb(53, 53, 53);;
	min-width: 553px;
	background-color: transparent;
	color: black;
    outline: 0;
    margin-top: 30px;
    /* font-family: 'Open Sans', sans-serif; */
    font-size:  18px;
}
.searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(53, 53, 53);
    opacity: 1; /* Firefox */
  }
  
  .searchbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgb(53, 53, 53);
  }
  
  .searchbar::-ms-input-placeholder { /* Microsoft Edge */
    color:rgb(53, 53, 53);
  }
/* ----------------- Barra de busqueda ----------------- */


/* ----------------------- Grid ----------------------- */
.grid-container
{
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: stretch;
    grid-gap: 30px;
    padding: 30px;
}


.cubo
{
    /* backdrop-filter: blur(10px); */
    background-color: var(--cfondoCubo);
    border-radius: 10px;
    min-width: 130px;
    height: 100px;

    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    /* Letra */
    color: rgba(0, 0, 0, 0);
    letter-spacing: 0.08em;
    text-decoration: none;

    /* Efectos */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    transition: 0.3s;
}

.cubo:hover {
    transform: translateY(-0.2rem);
    transition: 0.3s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
    text-decoration: none;
    color:var(--cletraCubo)!important;
}

.iconito
{
    margin-top: 1em;
    width: 26px;
    height: 26px;
    color: var(--ciconoCubo);
}

.titulito
{
    margin: 0;
    margin-top: 9px;
}
/* ----------------------- Grid ----------------------- */

/* --------------------- Submenu ---------------------- */
.submenu
{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--cfondoCubo);
    border-radius: 10px;
}

.iconito-submenu
{
    color: rgb(214, 214, 214);
    margin: 10px;
    transition: 0.2s;
    /* -webkit-filter: drop-shadow( 4px 1px 2px rgba(175, 175, 175, 0.7)); */

}

.iconito-submenu:hover
{
    color: rgb(255, 255, 255);
    filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, 0.432));
    transform: translateY(-0.1rem);
    transition: 0.2s;
}
/* --------------------- Submenu ---------------------- */

/* --------------------- Dinamico --------------------- */
.divDinamico
{
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    margin-top: 4em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.barra
{
    grid-column-start: span 2;
}

.buscarBarra
{
    color: white;
    text-align: center;
	border:none;
	border-bottom: 2px solid var(--cbarraBusqueda);
	min-width: 100%;
	background-color: transparent;
    outline: 0;
    margin-top: 30px;
    font-size:  18px;
}
/* --------------------- Dinamico --------------------- */
/* --------------------- Ajustes ---------------------- */


.divAjustes
{
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    margin-top: 4em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.fondo
{
    grid-column-start: span 4;
    color:white;
}

.url-fondo
{
    color: white;
    text-align: center;
	border:none;
    border-bottom: 2px solid var(--cbarraBusqueda);
    border: 0.5px solid rgba(128, 128, 128, 0.61);
    border-radius: 5px;
	/* min-width: 30%; */
	background-color: transparent;
    outline: 0;
    margin-top: 30px;
    font-size:  18px;
}

.label-ajustes
{
    text-align: right;
}
/* --------------------- Ajustes ---------------------- */

#divReloj
{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.07em;
    /* color: rgb(0, 0, 0); */
    color: var(--ctituloBusqueda);
    /* ESTILO PARA PUTOS CIEGOS */

}

#reloj
{
    font-size: 70px;
}

#fecha
{
    font-size: 20px;
    margin-top: -20px;
}